.app {
  display: flex;
}

.content {
  margin-left: 200px;
  padding: 20px;
  width: 100%;
}

@media (max-width: 768px) {
  .content {
    margin-left: 0;
  }
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
